<!--
<form action="/users" method="POST"  accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="user_name">Username :</label>
@@ -8,3 +9,24 @@
  <input type="password" name="user[password]" id="user_password">
  <input type="submit" value="Submit">
</form>
-->

<%= form_for @user do |g| %>
    <%= g.label :username %>
    <%= g.text_field :username, placeholder: 'Your username here' %>
    <%= g.label :email %>
    <%= g.text_field :email, placeholder: 'example@email.com' %>
    <%= g.label :password %>
    <%= g.password_field :password %>
    <%= g.submit "Submit" %>
  <% end %>

<%#-= form_tag users_path, method:'post' do -%>
  <%#-= label_tag :username, "username" -%>
  <%#-= text_field_tag :username -%>
  <%#-= label_tag :email, "email" -%>
  <%#-= text_field_tag :email -%>
  <%#-= label_tag :password, "password" -%>
  <%#-= text_field_tag :password -%>
  <%#-= submit_tag "Submit" -%>
<%#- end -%> 